{% extends 'uniPeliculasBundle::layout.html.twig' %}

{% block central -%}
    <h1>peliculas creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('peliculas') }}">
            Volver
        </a>
    </li>
</ul>
{% endblock %}
